@import url('https://fonts.googleapis.com/css?family=Lora');

#map {
  height: 450px;
  width: 90%;
  margin: 0 auto;
 }

 .content {
  width: 70%;
  margin: 0 auto;
 }

 div.row {
  text-align: center;
 }

#center {
  margin: auto;
}