<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>track(it)</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300i,300,400i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400i,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">

    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("button").click(function(){
            $("#div3").fadeIn(3000);
        });
    });
    </script>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

    <header class="site-header logo-centered">
        <nav class="navbar navbar-default primary-navigation navbar-logo-centered">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand navbar-link" href="/zones/11">track(it)</a>

                </div>
                <div class="collapse navbar-collapse" id="navbar-wrapper">
                    <ul class="nav navbar-nav navbar-left">
                        <li role="presentation"><a href="https://www.linkedin.com/in/victorchristopherlee/" target="_blank">About: Me</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li role="presentation"><a href="http://www.anyonecanlearntocode.com/" target="_blank">About: Actualize </a></li>
                        <li role="presentation"><a href="gallery.html"> </a></li>
                        <% if current_user %>
                          <li role="presentation"><a href="/logout">Log Out</a></li>
                        <% end %>
                            </ul>
                        </li>
                    </ul>
                    <p class="hidden-xs navbar-text navbar-social-icons"><a class="navbar-link navbar-social-icon" href="https://medium.com/victorclee" target="_blank"><i class="fa fa-medium"></i></a><a class="navbar-link navbar-social-icon" href="https://twitter.com/victorcleeboop" target="_blank"><i class="fa fa-twitter"></i></a><a class="navbar-link navbar-social-icon" href="https://github.com/victorclee" target="_blank"><i class="fa fa-github"></i></a><a class="navbar-link navbar-social-icon" href="https://www.instagram.com/veeceelee/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </p>
                </div>
            </div>
        </nav>
    </header>

    <div class="highlight-post overlay-dark-5">
        <div class="container-fluid">
            <div class="intro">
                <p class="text-center">what is track(it)?</p>
                <h2 class="text-center">Set a safety zone, give your loved ones a GPS device, and let track(it) watch them for you</h2>
                <div class="buttons"><a class="btn btn-default btn-readmore" role="button" href="/zones/11">Let's track(it)!</a></div>
            </div>
        </div>
    </div>

    <%= yield %>

    <footer class="site-footer">
        <ul class="list-inline text-center footer-menu">
            <li><a href="https://www.linkedin.com/in/victorchristopherlee/" target="_blank">About: Me</a></li>
            <li><a href="http://www.anyonecanlearntocode.com/" target="_blank">About: Actualize</a></li>
        </ul>
        <div class="text-center footer-social-icons"><a class="navbar-link navbar-social-icon" href="https://medium.com/victorclee" target="_blank"><i class="fa fa-medium"></i></a><a class="navbar-link navbar-social-icon" href="https://twitter.com/victorcleeboop" target="_blank"><i class="fa fa-twitter"></i></a><a class="navbar-link navbar-social-icon" href="https://github.com/victorclee" target="_blank"><i class="fa fa-github"></i></a><a class="navbar-link navbar-social-icon" href="https://www.instagram.com/veeceelee/" target="_blank"><i class="fa fa-instagram"></i></a></div>

    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax-min.js"></script>
</body>

</html>

